*{
    margin: 0px;
}
.menu{
    display: flex;
    background-color: rgb(169, 255, 41);
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
nav{
    flex-grow: 3;
}
nav ul{
    display: flex;
    justify-content: space-around;
} 
nav ul li{
    list-style: none;
    margin-top: 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
    padding: 11px 50px;
    cursor: pointer;
}
nav ul li a:hover{
    color: black;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.192), rgba(255, 255, 255, 0.548), white); 
}
header{
    height: 657px;
    background-image: url(../imagenes/basurauno.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .cuadroTexto{
    position: absolute;
    margin-top: -150px;
    padding: 5px 535px;
    background-color: rgba(0, 0, 0, 0.7);
}
.cuadroTexto::before{
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    border-bottom: 10px solid rgb(111, 182, 4); 
}
.cuadroTexto h1{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    letter-spacing: 2px;
}
.cuadroTexto p{
    margin-top: 8px;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    letter-spacing: 2px;
}


.contenedores{
    width: 20%;
    height: 12%;
    margin: auto 170px;
    margin-bottom: 120px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.644);
    border: 6px dotted black;
    border-radius: 30px;
    justify-content: space-between;
    transition: all 2.2s;
    transform: scale(1);
}
.contenedorUno{
    /*background-color: rgb(227, 255, 182);
    border: 2px solid rgb(68, 0, 255);*/
    background-color: rgba(86, 247, 86, 0.602);
    height: 100px;
    width: 35%;
    margin-top: 50px;
    margin-left: 160px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding-top: 12px;
}
.contenedorDos{
    /*background-color: rgb(182, 238, 255);
    border: 2px solid rgb(255, 0, 200);*/
    background-color: rgba(88, 238, 88, 0.602);
    height: 110px;
    width: 35%;
    margin-top: -115px;
    margin-left: 640px;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    padding-top: 12px;
}
.contenedores h2{
    color:black;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}

.ventEmergente a{
    text-decoration: none;
    padding: 7px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: rgb(54, 124, 26); 
    cursor: pointer;
}

.ventEmergente a:hover{
    color: black;
    background-color: yellow; 
}


section{
    background-image: url(../imagenes/hojas.jpg);
    height: 610px;
    width: 100%;
    padding-top: 60px;
}
.info{
    background-color: rgba(2, 2, 2, 0.342);
    height: 500px;
    margin-left: 150px;
    width: 80%;
    text-align: center;
    border: rgba(81, 255, 0, 0.609) double 25px;
}
.infoTexto h1, p{
    padding-top: 10px;
    color:white;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin-top: 25px;   
}